@using E_commerceProject_Electro.Models

@model ICollection<ProductToImages>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.Partial("_AdvertisingBanner")

@{
    List<ProductToImages> newProducts = Model
                .Where(x => (DateTime.Now.Date - x.ProductAddDate).Days < 5)
                .ToList();
}

@Html.Partial("_NewProducts", newProducts)
@Html.Partial("_HotDeal")
@Html.Partial("_TopSelling")