
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateCategory</title>
</head>
<body>
    <div> 
        <h2>Create category</h2>

        <form method="post">
            <label for="categoryName">Category name</label>
            <input type="text" name="categoryName" value="" placeholder="Category name" />

            <input type="submit" value="Create category" class="btn btn-primary" />
        </form>

    </div>
</body>
</html>
